body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

#to-do-form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#task-input {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#to-do-list {
  margin-top: 50px;
  text-align: left;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}
